@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;500;600;700;800&family=Indie+Flower&display=swap');

html {
  font-size: 10px;
}

/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Baloo Tamma 2", cursive;
  line-height: 1.8;
  display: flex;
}


/* List Items */
li {
  list-style: none;
}

/* Abchor Tags */
a:link,
a:visited {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

div {
  font-size: 10rem;
}

p {
  font-size: 10rem;
  font-family: 'Indie Flower',cursive;
}




@media screen and (min-width: 1510px) {
  body {
    width: 1510px;
    margin: 0 auto;
  }
}