
  /* Custom Properties */
  /* Main Color */
  $--primary-color: #014d4e;

  /* Secondary Color */
  $--secondary-color: #ff9408;

  /* Secondary Color Modified */
  $--secondary-color-m: #ff94088e;

  /* tertiary color */
  $--tertiary-color: #017374;

  /* tertiary color modified */
  $--tertiary-color-m: #01727498;

$breakpoints: (
  'xxs': 'screen and (min-width: 440px)',
  'xs': 'screen and (min-width: 560px)',
  'sm': 'screen and (min-width: 680px)',
  'md': 'screen and (min-width: 800px)',
  'lg': 'screen and (min-width: 1024px)',
  'xl': 'screen and (min-width: 1510px)',
  'safari': 'screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0)',
) !default;

@mixin mq($breakpoint: lg) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
