@import '../variables.scss';

.about {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem;
  background-color: $--secondary-color;

  &__image,&__content {
    flex-basis: 40rem;
    padding: 2rem;
    flex-grow: 1;
  }


  h2 {
    font-size: 4rem;
    padding: 1rem 0;
    color: white;
    text-transform: uppercase;

    position: relative;
  }
  h2::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0.3rem;
    width: 10%;
    background-color: $--primary-color;
  }
  h2,
  p {
    margin-bottom: 4rem;
    letter-spacing: 0.2rem;
  }
  p {
    font-size: 1.8rem;
    font-family: 'Indie Flower', cursive;
  }
  &__link:link,
  &__link:visited {
    padding: 1rem 0;
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
  }
  &__link:link::after,
  &__link:visited::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $--primary-color;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 0.45s cubic-bezier(0.645, 0.045, 0.355, 1);
    z-index: -1;
  }
  &__link:link:hover:after,
  &__link:visited:active:after {
    transform: scaleY(1);
    transform-origin: top;
  }
}
