@import '../variables.scss';

.testimonials {
  padding: calc(1rem + 2vw);
  background-color: $--secondary-color;
  color: white;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}